@model MessageBoardClient.Models.Thread

<h2>Create new thread</h2>
@using (Html.BeginForm("Create", "Threads", new { boardId = ViewBag.BoardId}))
{
  @Html.LabelFor(thread => thread.Title)
  @Html.TextBoxFor(thread => thread.Title)
  <input type="submit" value="Add Thread" class="btn btn-primary" />
}